*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 1s ease;
}
body {
    font-size: 10pt;

}
html{
  scroll-behavior: smooth;
}
:root{
  --base-color: #ffffff;
  --text-color: shamrock;
  --base-variant: whitesmoke;
  --text-variant: black;
  --base-green: darkgreen;
  --text-green: darkgreen;
  --text-white: white;
  --text-green-variant: seagreen;
}
.darkmode{
  --base-color:  #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --base-green: darkgreen;
  --text-green-variant: seagreen;
  --secondary-color:#a4a5b3;
  --primary-color:#3a435d;
  --accent-color:#0071ff;
}
#themeSwitch{
  background: var(--base-color);
  color: var(--text-green);
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px grey;
  translate: 1s all;
  border: 2px solid var(--base-green);
}
#themeSwitch:hover{
  transform: scale(1.1);
  background: var(--base-green);
  color: var(--text-white);
}
header{
  position: sticky;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 999;
}
nav{
  background: var(--base-color);
  color: var(--text-color);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: block;
  font-size: 90%;
}
ul{
  display: flex;
  list-style-type: none;
}
li{
  height: 50px;
}
  
li a{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  color: var(--text-green-variant);
  transition: .3s all
}
ul li:first-child{
  margin-right: auto;
  font-size: 1.3em;
}
li strong{
  color: var(--text-green);
  margin-right: 2px;
}
ul li strong:hover{
  color:var(--text-white);
}


li img{
  height: 40px;
  max-width: 40px;
  border-radius: 50%;
  background: var(--base-color);
  margin-right: 5px;
}
li a:hover{
  background: var(--base-green);
  color: var(--text-white);
}
.service{
  background: var(--base-green);
  color: var(--text-white);
}
.book-appointment{
  background: var(--base-green);
  border-radius: 30px;
  height: 5%;
  margin-top: 8px;
  margin-left: 8px;
  padding: 15px;
  transition: .5s;
  color: var(--text-white);
  box-shadow: 2px 2px 3px grey;
}
.book-appointment:hover{
  border: 3px solid var(--base-green);
  background: none;
  color: var(--text-green);
}
.sidebar{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 70%;
  height: 60vh;
  display: none;
  flex-direction: column;
  background: var(--base-color);
  box-shadow: 2px 2px 3px black;
  z-index: 999;
}
.sidebar ul{
  display: block;
}
.sidebar a{
  margin-right: auto;
}
.menu-change{
  display: none;
}
@media screen and (max-width: 400px) {
  .menu-change{
  display: block;
}
li a{
  padding: 7px;
  cursor: pointer;
}
.hideOnMobile{
  display: none;
}
.book-appointment{
  font-size: 14px;
}
ul li:first-child{
  margin-right: auto;
}
li img{
  margin-right: 0px;
}
}
.hero-cont{
  background: var(--base-variant);
  padding: 2%;
}
.big-img-cont{
  margin-top: 0px;
  margin-left: 10%;
  border: 2px solid green;
  /*anchor-name: --hold;*/
  width: 82%;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-marker-group: after;
}
.img-cont{
  display: flex;
  gap: .5em;
  width: 300vw;
  overflow-x: hidden;
  animation: move 5s ease-in-out infinite alternate;
}
@keyframes move{
  0%{
    transform: translateX(0%);
  }
  30%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(-35%);
  }
  75%{
    transform: translateX(-35%);
  }
  90%{
    transform: translateX(-70%);
  }
  100%{
    transform: translateX(-70%);
  }
}
.img-cont::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}/*
.big-img-cont::scroll-button(right), .big-img-cont::scroll-button(left){
  font-size: 1em;
  content: ">";
  height: 60px;
  width: 60px;
  background: green;
  padding: .5em;
  border-radius: 50%;
  position: fixed;;
  position-anchor: --hold  .big-img-cont{
    height: auto;
    margin: 9%;
  }
  .images-cont{
    height: 45vh;
  }
  .img-cont img::scroll-marker{
    height: .8em;
    width: .8em;
    margin-top: -15%; 
  }
  .big-img-cont::scroll-button(right), .big-img-cont::scroll-button(left){
    padding: .05em;
    border: none;
    position-area: right center;
    top: -50%;
    height: 25px;
    width: 25px;
  }
  .big-img-cont::scroll-button(left){
    position-area: left center;
  }
  .img-cont img{
  height: 20vh;
}
  cursor: pointer;
  color: white;
  justify-content: end;
  position-area: right center;
}
.big-img-cont::scroll-button(left){
  content: "<";
  position-area: left center;
}
.big-img-cont::scroll-button(right):disabled, .big-img-cont::scroll-button(left):disabled{
  opacity: 0.5;
  cursor: auto;
} */
.big-img-cont::scroll-marker-group{
  display: flex;
  justify-content: center;
  gap: .3em;
}
.img-cont img::scroll-marker{
  content: "";
  height: 3em;
  width: 3em;
  background: grey;
  border-radius: 50%;
  margin-top: -8%; 
}
.img-cont img::scroll-marker:target-current{
  background: green;
}
.img-cont img{
  scroll-snap-align: start;
  width: 100vw;
  object-fit: cover;
  height: 60vh;
}

@media screen and (max-width: 400px) {
   .big-img-cont{
    height: auto;
    margin: 9%;
  }
  .images-cont{
    height: 45vh;
  }
  .img-cont img::scroll-marker{
    height: .8em;
    width: .8em;
    margin-top: -15%; 
  }
  .big-img-cont::scroll-button(right), .big-img-cont::scroll-button(left){
    padding: .05em;
    border: none;
    position-area: right center;
    top: -50%;
    height: 25px;
    width: 25px;
  }
  .big-img-cont::scroll-button(left){
    position-area: left center;
  }
  .img-cont img{
  height: 20vh;
}
  }
 .title{
   background: var(--base-color);
   text-align: center;
   padding: .5%;
 }
 .title h2, h1{
   color: var(--text-green);
   padding: 2%;
 }
 .title p{
   margin-bottom: 3%;
   color: var(--text-color);
 }
 .cards{
   background: var(--base-variant);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 2em;
   padding: 5%;
   align-items: center;
   justify-content: center;
 }
 .card{
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   background: var(--base-color);
   padding: 7%;
   color: var(--text-color);
   box-shadow: 2px 2px 3px grey;
   cursor: pointer;
   transition: 1s all;
 }
 .card:hover{
   transform: scale(1.05);
 }
 .card .img-holder{
   width: 40px;
   height: 40px;
   background: var(--base-color);
   border-radius: 50%;
   border: 3px solid var(--base-green);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .card h2{
   color: var(--text-green);
   text-align: center;
   padding: 20px;
 }
 .card .brief-cont{
   display: flex;
   gap: .2em;
   margin: 10px;
 }
 .brief-cont img{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   margin-top: 5px;
 }
 .emergency-img{
   height: 20px;
   width: 20px;
   margin: 20px;
 }
 .emergency-img img{
  height: 15px;
   width: 15px;
 }
 .emergency-cont{
   margin: 10px;
 }
 .changed{
   text-align: center;
   display: flex;
   flex-direction: column;
   padding: 10px;
 }
 .details{
   background: var(--base-color);
   padding: 5%;
   /*display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
   display: flex;
   flex-wrap: wrap;
   justify-items: center;
 }
 .details .part1{
   flex-grow: 1;
   padding: 2%;
   background: var(--base-variant);
   box-shadow: 2px 2px 3px grey;
   transition: 1s all;
   cursor: pointer;
 }
 .details .part1:hover{
   transform: scale(1.01);
 }
 .details h2{
   color: var(--text-green);
   padding: 20px;
   
 }
 .part1 label, input, textarea, select{
   display: block;
   width: 100%;
   padding: 10px;
   border-radius: 10px;
 }
 .requirements label {
   padding-top: 20px;
   color: var(--text-color);
 }
 .requirements input, textarea {
   padding: 10px;
   border: 2px solid var(--base-green);
   border-radius: 10px;
   color: var(--text-green);
   background: var(--base-color);
 }
 .submitted{
   margin-top: 10px;
   margin-left: 20%;
   width: 70%;
   padding: 10px;
   border-radius: 10px;
   color: var(--text-white);
   background: var(--base-green);
   border: none;
   cursor: pointer;
   transition: 1s all;
 }
 .submitted:hover{
  color: var(--text-green);
   background: var(--base-color);
   transform: scale(1.02);
   border: 2px solid var(--base-green);
 }
 .questions{
   padding: 8%;
   background: var(--base-variant);
   color: var(--text-color);
 }
 .questions h2,p{
   color: var(--text-green);
   padding: 0px;
   text-align: center;
 }
 .questions p{
   padding: 0px;
   color: var(--text-color);
 }
 .question{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   padding: 10px;
 }
 summary{
   color: var(--text-green);
 }
  .question p{
   padding-top: 3%;
 }
 .question ul{
  display: flex;
   flex-direction: column;
 }
 .question ul li{
   font-size: 100%;
 }
 .arrow-up{
  display: flex;
  justify-content: center;
  background: var(--base-variant);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  opacity: 1;
  bottom: 20px;
  right: 10px;
  z-index: 9999;
  box-shadow: grey;
}
 footer{
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 10%;
  background: var(--base-color);
  color: var(--text-color);
}
@media screen and (max-width: 600px){
  footer{
    position: relative;
  }
}
.footer-body{
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  
}

.footer-body .foot{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.foot li:first-child{
  font-size: 90%;
}
.foot .foot-title{
  font-size: 50%;
}
.footer-body .foot:first-child{
  width: 100%;
}
.foot  li a{
  color: var(--text-color);
  opacity: 1;
}
.foot-end{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: var(--text-green-variant);
}
@media screen and (max-width: 600px) {
  .foot-end{
    position: absolute;
    gap: 1em;
  }
  }
  
