*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 1s ease;
}
body {
    font-size: 15pt;

}
html{
  scroll-behavior: smooth;
}
:root{
  --base-color: #ffffff;
  --text-color: shamrock;
  --base-variant: whitesmoke;
  --text-variant: black;
  --base-green: darkgreen;
  --text-green: darkgreen;
  --text-white: white;
  --text-green-variant: seagreen;
}
.darkmode{
  --base-color:  #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --base-green: darkgreen;
  --text-green-variant: seagreen;
  --secondary-color:#a4a5b3;
  --primary-color:#3a435d;
  --accent-color:#0071ff;
}
#themeSwitch{
  background: var(--base-color);
  color: var(--text-green);
  padding: 5px;
  font-size: 60%;
  border-radius: 20px;
  box-shadow: 2px 2px 3px grey;
  translate: 1s all;
  border: 2px solid var(--base-green);
}
.hideOnMobile:hover{
  transform: scale(1.1);
  background: var(--base-green);
  color: var(--text-white);
}
.hideOnMobil:hover{
  transform: scale(1.1);
  background: var(--base-green);
  color: var(--text-white);
}
header{
  position: sticky;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 999;
}
nav{
  background: var(--base-color);
  color: var(--text-color);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: block;
  font-size: 90%;
}
ul{
  display: flex;
  list-style-type: none;
}
li{
  height: 50px;
}
  
li a{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: var(--text-green-variant);
  transition: .3s all
}
ul li:first-child{
  margin-right: auto;
  font-size: 1.2em;
}
li strong{
  color: var(--text-green);
  margin-right: 2px;
}
ul li strong:hover{
  color:var(--text-white);
}
.home{
  border-left: 2px solid var(--base-green);
  text-decoration: underlin;
  background: var(--base-green);
  color: var(--text-white);
}

li img{
  height: 40px;
  max-width: 40px;
  border-radius: 50%;
  background: var(--text-color);
  margin-right: 5px;
}
li a:hover{
  background: var(--base-green);
  color: var(--text-white);
}
.book-appointment{
  background: var(--base-green);
  border-radius: 30px;
  height: 5%;
  margin-top: 8px;
  margin-left: 8px;
  padding: 15px;
  transition: .5s;
  color: var(--text-white);
  box-shadow: 2px 2px 3px grey;
}
.book-appointment:hover{
  border: 3px solid var(--base-green);
  background: none;
  color: var(--text-green);
}
.sidebar{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 70%;
  height: 60vh;
  display: none;
  flex-direction: column;
  background: var(--base-color);
  box-shadow: 2px 2px 3px black;
  z-index: 999;
}
.sidebar ul{
  display: block;
}
.sidebar a{
  margin-right: auto;
}
.menu-change{
  display: none;
}
@media screen and (max-width: 400px) {
  .menu-change{
  display: block;
}
li a{
  padding: 7px;
  cursor: pointer;
}
.hideOnMobile{
  display: none;
}
.book-appointment{
  font-size: 14px;
}
ul li:first-child{
  margin-right: auto;
}
li img{
  margin-right: 0px;
}
}
.hero-cont{
  background: var(--base-variant);
  
  padding: 10%;
}
.big-img-cont{
  margin-top: 0px;
  margin-left: 10%;
  border: 2px solid green;
  anchor-name: --hold;
  width: 82%;
  height: 40vh;
  overflow-x: auto;

  scroll-marker-group: after;
}
.img-cont{
  display: flex;
  gap: .5em;
  width: 300vw;
  overflow-x: auto;
  animation: move 5s ease-in-out infinite alternate;
}
@keyframes move{
  0%{
    transform: translateX(0%);
  }
  30%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(-35%);
  }
  75%{
    transform: translateX(-35%);
  }
  90%{
    transform: translateX(-70%);
  }
  100%{
    transform: translateX(-70%);
  }
}
.img-cont::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}
.big-img-cont::scroll-button(right), .big-img-cont::scroll-button(left){
  font-size: 1em;
  content: ">";
  height: 60px;
  width: 60px;
  background: green;
  padding: .5em;
  border-radius: 50%;
  position: fixed;;
  position-anchor: --hold;
  cursor: pointer;
  color: white;
  justify-content: end;
  position-area: right center;
}
.big-img-cont::scroll-button(left){
  content: "<";
  position-area: left center;
}
.big-img-cont::scroll-button(right):disabled, .big-img-cont::scroll-button(left):disabled{
  opacity: 0.5;
  cursor: auto;
}
.big-img-cont::scroll-marker-group{
  display: flex;
  justify-content: center;
  gap: .3em;
}
.img-cont img::scroll-marker{
  content: "";
  height: 3em;
  width: 3em;
  background: grey;
  border-radius: 50%;
  margin-top: -8%; 
}
.img-cont img::scroll-marker:target-current{
  background: green;
}
.img-cont img{
  scroll-snap-align: start;
  width: 100vw;
  object-fit: cover;
  height: 50vh;
}

@media screen and (max-width: 400px) {
  .big-img-cont{
    height: auto;
    margin: 9%;
  }
  .images-cont{
    height: 45vh;
  }
  .img-cont img::scroll-marker{
    height: .8em;
    width: .8em;
    margin-top: -15%; 
  }
  .big-img-cont::scroll-button(right), .big-img-cont::scroll-button(left){
    padding: .05em;
    border: none;
    position-area: right center;
    top: -50%;
    height: 25px;
    width: 25px;
  }
  .big-img-cont::scroll-button(left){
    position-area: left center;
  }
  
  }
 .text-container{
    padding: 15%;
    color: var(--text-color);
    background: var(--base-color);
    text-align: center;
  }
.text-container h1, h2{
    padding: 20px;
  }
.text-container h1{
    color: var(--text-green);
  }
  .btns-cta a{
    color: var(--text-green);
  }
  .btns-cta a:hover{
    color: var(--text-white);
  }
.btns-cta button{
    color: var(--text-green);
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px ;
    font-size: 120%;
    border: 2px solid var(--text-green);
    pointer: cursor;
  }
.btns-cta button:hover{
    box-shadow: 2px 2px 3px var(--base-green);
    color: var(--text-white);
    background: var(--base-green);
  }
.btns-cta .cta{
    color: var(--text-white);
    background: var(--base-green);
  }
.btns-cta .cta:hover{
    color: var(--text-green);
    background: white;
  } 
.text-container .slogan{
  margin:  20px;
}
  @media screen and (max-width: 600px) {
    .text-container{
    margin: 0%;
    }
    .btns-cta button{
      font-size: 100%;
    }
  }
.article {
  gap: 20px;
  padding: 15px 10%;
  display: flex;
  background: var(--base-variant);
  color: var(--text-color);
}


.article .content{
  background: var(--base-color);
  margin-top: 50px;
  padding: 20px;
  box-shadow: 1px 1px 2px grey;
  transition: 1s all;
  margin-bottom: 50px;
  border-radius: 20px;
  cursor: pointer;
}
.article .content:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22); /* material box shadow */
  transform: scale(1.01);
  transform: translateX(0px);
}
.article h2{
  color: var(--text-green);
  margin-top: 5px;
  margin-bottom: 20px;
}
.img-doc{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px){
  .article{
    top: -300px;
    flex-wrap: wrap;
  }
  .article .content{
    margin-bottom: 0px;
  }
  .article .last{
    margin-bottom: 50px;
  }
}
.about{
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
  gap: 3em;
  flex-grow: 1;
  background: var(--base-color);
}
.about-img{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.about-img img{
  width: 100%;
  border-radius: 20px;
  transition: 1s all;
  cursor: pointer;
}
.about-img:hover img{
  transform: scale(1.1);
}
.about-cont{
  width: 50%;
}
.about-cont h2{
  margin: 20px;
  color:  var(--text-green);
}
.about-cont h3{
  color: var(--text-green);
}
.sub-heading{
  display: flex;
  margin: 20px;
}
.sub-heading img{
  padding: 10px;
  background: var(--base-variant);
  color:  var(--text-white);
  border-radius: 50%;
  margin-top: -5px;
  margin-right: 5px;
}

.more-about-cont button{
  background: var(--base-green);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}
button a{
  color: var(--text-white);
  text-decoration: none;
}
.more-about-cont button:hover a{
  color:  var(--text-green);
}
.more-about-cont button:hover{
  background: transparent;
  border: 4px solid var(--base-green);
}
@media screen and (max-width: 600px) {
  .about{
    
    padding: 40px;
  }
  .about-img{
    width: 100%;
  }
  .about-cont{
  width: 100%;
}
.sub-heading img{
  padding: 15px;
}
}
.medical-service{
  color: var(--text-color);
  padding: 20px;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  
  background: var(--base-variant);
}
.medical-service .medic-info{
  text-align: center;
}
.medical-service .medic-info h2{
  margin: 10px;
  color: var(--text-green);
  font-size: 170%;
}
@media screen and (max-width: 600px) {
  .medical-service{
  
  }
}
.services{
  color: var(--text-color);
  box-shadow: 2px 2px 3px grey;
  width: 40%;
  padding: 10px;
  text-align: center;
  background: var(--base-color);
  transition: 1s all;
  font-size: 90%;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
}
.services:hover{
  box-shadow: 0 15px 30px grey;  
  transform: scale(1.01);
}
.services h2{
  font-size: 150%;
  margin: 10px;
  color: var(--text-green);
}
@media screen and (max-width: 600px) {
  .services h2{
    font-size: 110%;
  }
}
.service-img img{
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
  display: block; 
  cursor: pointer;
}
.service-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.services button{
  background: var(--base-green);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}
.services button a{ 
  color: var(--text-white);
  text-decoration: none;
}
.services button:hover a{
  color:  var(--text-green);
}
.services button:hover{
  background: transparent;
  border: 4px solid var(--base-green);
}
.arrow-up{
  display: flex;
  justify-content: center;
  background: var(--base-variant);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  opacity: 1;
  bottom: 20px;
  right: 10px;
  z-index: 9999;
  box-shadow: grey;
}
.docs{
  color: var(--text-color);
  background: var(--base-variant);
  padding: 20px;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@media screen and (max-width: 600px) {
  .docs{

  }
}
.doctor-heading{
  text-align: center;
}
.doctor-heading h2{
  color: var(--text-green);
  margin: 20px;
  font-size: 170%;
}
.doc-cont-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.doc-cont .name-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.name-img img{
  width: 100%;
  height: 300px;
  object-fit: contain;
  transition: 1s all
}
.doc-cont{
  width: 45%;
  margin:  10px;
  background: var(--base-color);
  box-shadow: 2px 2px 3px grey;
  padding: 20px;
  border-radius: 20px;
  transition: 1s all;
  overflow: hidden;
  cursor: pointer;
  flex-grow: 1;
}
.doc-cont:hover{
  box-shadow: 0 15px 30px grey;  
}
.doc-cont img:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .doc-cont-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
  .doc-cont{
    width: 80%;
  }
  .name-img img{
    height: 50%;
  }
}
.doc-cont h2, p i{
  color: var(--text-green);
  margin: 20px;
}
.doc-cont-container button{
  background: var(--base-green);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
  margin-left: 40%;
}
.doc-cont-container button a{
  color: var(--text-white);
  text-decoration: none;
}
.doc-cont-container button:hover{
  border: 4px solid var(--base-green);
  background: transparent;
}
.doc-cont-container .links{
  font-size: 28px;
  display: flex;
  gap: 1em;
}
.contacts{
  color: var(--text-color);
  background: var(--base-variant);
  padding: 20px;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .contacts{
    top: 0px;
  }
}
.contact-head{
  text-align: center;
}
.contact-head h2{
  color: var(--text-green);
}
.contact-info{
  text-align: center;
  width: 45%;
  background: var(--base-color);
  box-shadow: 2px 2px 3px grey;
  padding: 20px;
  border-radius: 20px;
  transition: 1s all;
  overflow: hidden;
  cursor: pointer;
  flex-grow: 1;
}
.contact-info:hover{
  box-shadow: 0 15px 30px grey;  
}

.contact-info h2{
  color: var(--text-green);
  margin: 10px;
}
iframe{
  width: 100%;
  height: auto;
}
label{
  
  display: inline-block;
  padding: 5px;
}
@media screen and (max-width: 600px) {
  .contacts{
  
    display: flex;

  }
  .contact-info{
    flex-wrap: wrap;
    width: 100%;
  }
  label{
    display: inline-block;
    width: 40%;
  }
}
.submit{
  display: block;
  background: var(--base-green);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
  color: var(--text-white);
  margin-left: 40%;
}
.submit:hover{
  color:  var(--text-green);
  background: transparent;
  border: 4px solid var(--base-green);
}
.book-appoint-cover{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--base-color);
}
.book-appoint{
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.divided{
  border-radius: 0px 20px 20px 0px;
  width: 40%;
  background: var(--base-variant);
  padding: 20px;
  box-shadow: 2px 2px 3px grey;
  color: var(--text-color);
  height: 100%;
  flex-grow: 1; 
  transition: 1s all;
  cursor: pointer;
}
.normal{
  flex-grow: 1;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
  box-shadow: 2px 2px 3px grey;
  background: var(--base-green);
  color: var(--text-white);
  width: 40%;
  cursor: pointer;
}
.divided:hover{
  transform: scale(1.02);
}
.normal h2{
  margin-bottom: 10px;
}
.body-submit{
  text-align: center;
  display: flex;
  gap: 1em;
}
.appoint-submit{
  display: block;
  background: var(--base-green);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
  color: var(--text-white);
  margin-left: 10%;
}
.appoint-submit:hover{
  color:  var(--text-green);
  background: transparent;
  border: 4px solid var(--base-green);
}
@media screen and (max-width: 600px){
  .book-appoint-cover{
    display: flex;
    height: auto;
  }
  .book-appoint{
    display: block;
  width: 100%;
  }
  .divided{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
  }
}
footer{
  padding-bottom: 2%;
  position: relative;
  background: var(--base-variant);
  color: var(--text-color);
}
.footer-body{
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

.footer-body .foot{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
}
.foot li:first-child{
  font-size: 90%;
}
.foot .foot-title{
  font-size: 50%;
}
.footer-body .foot:first-child{
  width: 30%;
}
.foot  li a{
  color: var(--text-color);
  opacity: 1;
}
.foot-end{
  position: absolute;
  bottom: -40px;
  left: 0px;
  width: 100%;
  display: flex;
  padding-top: 5%;
  align-items: center;
  justify-content: space-evenly;
  background: var(--text-green-variant);
}
@media screen and (max-width: 600px) {
  .foot-end{
    gap: 1em;
  }
}
.loader-background{
  height: 100%;
  width: 100%;
  background: var(--base-color);
  opacity: .9;
  z-index: 999999;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
  height: 50px;
  width: 50px;
  border-radius: 30%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  animation: spin 5s infinite linear;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  }
    
